<!-- 
 * parallax_login.html
 * @Author original @msurguy (tw) -> http://bootsnipp.com/snippets/featured/parallax-login-form
 * @Tested on FF && CH
 * @Reworked by @kaptenn_com (tw)
 * @package PARALLAX LOGIN.
-->

{% include header.html %}

        <div class="page-wrap">
            
            <div class="container">
                <div class="row vertical-offset-100">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div id="heading" class="panel-heading">                                
                                <div class="row-fluid user-row">
                                    <img id="logo" src="img/logo.png" class="img-responsive" alt="Conxole Admin"/>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form id="form">
                                    <!-- name -->
                                  <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name" name="name">
                                    <small class="form-text text-muted">This field is NOT required and can be left blank</small>
                                  </div>

                                  <!-- postition -->
                                  <div class="form-group">
                                    <label>Position</label>
                                    <input type="text" class="form-control" placeholder="What is your position at Awesome Inc?" name="position" required>
                                  </div>

                                  <hr>

                                  <!-- years -->
                                  <div class="form-group">  

                                  <label>Years Of Experience Using Git</label>
                                    
                                    <div>
                                        <input type="radio" name="years" value="less than 1 year" required>
                                        Less than 1 year
                                        
                                    </div>
                                    

                                    <div>
                                        <input type="radio" name="years" value="1 to 3 years">
                                        1 to 3 years
                                        
                                    </div>
                                   

                                    <div>
                                        <input type="radio" name="years" value="3+ years">
                                        3+ years
                                        
                                    </div>

                                    <hr>

                                    <!-- familiarity -->
                                    <div class="form-group">
                                        <label>How familiar would you say you were with Awesome Inc’s GitHub protocol?</label>

                                        <div>
                                            <input type="radio" name="familiarity" value="Not Very" required> Not Very
                                        </div>

                                        <div>
                                            <input type="radio" name="familiarity" value="Comfortable with some of it"> Comfortable with some of it
                                        </div>

                                        <div>
                                            <input type="radio" name="familiarity" value="Familiar with most or all of it"> Familiar with most or all of it
                                        </div>


                                    </div>


                                    <!-- branch -->
                                    <div class="form-group">
                                        <label>Have you ever created your own branch while working within any Awesome Inc related repositories?</label>

                                        <div>
                                            <input id="branch" type="radio" name="branch" value="no" required> No
                                            <input id="branch" type="radio" name="branch" value="yes"> Yes
                                        </div>
                                    </div>


                                    <!-- location -->
                                    <div class="form-group">
                                        <label>Which of the following locations do you usually push to gh-pages or another repository from?</label>

                                        <div>
                                            <input type="radio" name="location" value="local" required> Local Branch From Outside The Repo
                                        </div>

                                        <div>
                                            <input type="radio" name="location" value="online"> A Pre-existing Branch From Within The Repo
                                        </div>

                                        <div>
                                            <input type="radio" name="location" value="no idea"> I Am Not Sure
                                        </div>
                                    </div>


                                    <!-- fear -->
                                    <div class="form-group">
                                        <label>Have you ever felt nervous or hesitant about pushing your code to gh-pages because of a fear of causing errors to a live site?</label>

                                        <div>
                                            <input type="radio" name="fear" value="no" required> No
                                        </div>

                                        <div>
                                            <input type="radio" name="fear" value="yes"> Yes
                                        </div>

                                        <div>
                                            <input type="radio" name="fear" value="sometimes, or I have before at least once"> Sometimes, or I have before at least once
                                        </div>
                                    </div>


                                    <!-- recommend -->
                                    <div class="form-group">
                                        <label>Would you recommend an alternative to using Git as Awesome Inc’s primary version control?</label>

                                        <div>
                                            <input id="branch" type="radio" name="recommend" value="no" required> No
                                            <input id="branch" type="radio" name="recommend" value="yes"> Yes
                                        </div>
                                    </div>

                                    <!-- alternative -->
                                    <div class="form-group">
                                    <label>If so, what would you recommend?</label>
                                    <input type="text" class="form-control" placeholder="What alternatives would you recommend?" name="alternative">
                                    <small class="form-text text-muted">If you did not recommend an alternative, then leave this field blank</small>
                                  </div>



                                    <!-- submit -->
                                    <div id="submit">
                                        <button class="btn btn-primary">Submit!</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- pop up window -->
              
                    <div id="panel">
                        <div id="helpPanel" class="panel panel-default">
                            <div id="panelHeading" class="panel-heading">
                                <h4>About</h4>
                            </div>
                            <div id="panelBody" class="panel-body">
                                <p>The purpose of this form is to gather information about having Git as our primary version control.</p>

                                <p>While your answers will be recorded, your name CAN remain anonymous. To do so, simply leave the name field blank as it says above.</p>

                                <p>Thanks to everyone who helps me out! :D<p>

                            </div>
                        </div>
                    </div> 
           
        </div> <!--end of page wrap-->

{% include footer.html %}